body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    height: 100vh;
}

.user_photo {
    width: 70px;
    height: 70px; ;
}

#conversations > .row:hover {
    background: rgb( 236, 232, 231 )
}
